<hr />

<div class="row">
    <div class="col-md-2 text-center">
        @Html.ActionLink("High Level", "Index")
    </div>
    <div class="col-md-2 text-center">
        @Html.ActionLink("Why It's #1", "Rank")
    </div>
    <div class="col-md-2 text-center">
        @Html.ActionLink("Try It", "TryIt")
    </div>
    <div class="col-md-2 text-center">
        @Html.ActionLink("WhyItsImportant", "WhyItsImportant")
    </div>
    <div class="col-md-2 text-center">
        @Html.ActionLink("Defenses", "Defenses")
    </div>
    <div class="col-md-2 text-center">
        @Html.ActionLink("Known Associates", "KnownAssociates")
    </div>
</div>
